agent_type: react

benchmark_dir: ../dataset/benchmarks/replication_gt
results_dir: ../dataset/results/replication_gen
batches_config_path: ../dataset/batches/replication/batches.yaml

channels:
  channel_1:
    figma_file_key: 
    api_base_url: http://localhost:3000
  channel_2:
    figma_file_key: JtTP5OvsUBvSiS2g5BK95t
    api_base_url: http://localhost:3000

models:
  gpt-4o:
    provider: openai
    name: gpt-4o-2024-08-06
    temperature: 0.0
    input_cost: 0.0025
    output_cost: 0.0125
    max_turns: 50
    max_tokens: 2048
  gpt-4.1:
    provider: openai
    name: gpt-4.1-2025-04-14
    temperature: 0.0
    input_cost: 0.002 ## Cost per 1k input tokens
    output_cost: 0.008 ## Cost per 1k output tokens
    max_turns: 50
    max_tokens: 2048
  claude-3-5-sonnet:
    provider: anthropic
    name: "anthropic.claude-3-5-sonnet-20241022-v2:0"
    temperature: 0.0
    input_cost: 0.003
    output_cost: 0.015
    max_turns: 50
    max_tokens: 2048
  gemini-2.5-flash:
    provider: google
    name: "models/gemini-2.5-flash"
    temperature: 0.0
    input_cost: 0.0003 ## Cost per 1k input tokens
    output_cost: 0.0025 ## Cost per 1k output tokens
    max_turns: 50
    max_tokens: 2048
  gemini-2.5-pro:
    provider: google
    name: "models/gemini-2.5-pro"
    temperature: 0.0
    input_cost: 0.00125 ## Cost per 1k input tokens
    output_cost: 0.01 ## Cost per 1k output tokens
    max_turns: 50
    max_tokens: 2048